/* * {
    text-align: right;
} */

 


body {
    background-color: rgb(173, 149, 68);
    color: rgb(206, 201, 201);
}

.info-site-name {
    text-align: center;
    color: rgb(62, 255, 4);
}

.info-container {
    background-color: rgb(3, 88, 88);
    display: inline-block;
    max-height: 200%; 
    max-width: 200px;
    padding: 5px;
    margin: 5px;
    border: 5px solid grey;
    box-sizing: border-box;
}

p.box-model {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.info-content {
    color: rgb(255, 254, 254);
    width: 100%; 
    height: 100%;
}
#para1 {
    background-color: rgb(241, 14, 14);
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: left;
    color: aqua;
}
/* Why didn't the box model work on p.box-model? 
But it worked on "para1!!*/
p.center {
    text-align: left;
    color: chartreuse;
}

p.right {
    text-align: right;
    color: red;
}

p.right {
    font-size: 300%;
}

.info-content:before {
    content: "hello";
}

.info-content:after {
    content: "goodbye";
} 


.bird, .cat, .chip {
    border: 5px solid grey;
    display: inline-block;
    width: 200px;
    margin: 5px;
}

button {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    background-color: rgb(3, 88, 88);
    color: rgb(206, 201, 201);
    padding: 5px;
}

button:hover {
    background-color: rgb(40, 212, 212);
    color: black; 
}

/* img:last-of-type {
    border: 2px dotted green;
} */
.square {
    width: 50%;
}

.square ::after{
    content: "hello";
    display: block;
    padding-bottom: 100%;
}